h2 {
    margin: 0;
    padding: 1rem;
}

.searchbar {
    padding: 0 1rem;
}

.content {
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
}

.list {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style-type: none;
    
    li {
        margin: 2px 0;
    }

    button {
        width: 100%;
        
        &.active {
            box-shadow: inset 0px 0px 5px grey;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding: 0;

    :not(button) {
        margin: 0.8rem 1rem 0 1rem;
        padding: 0;
    }
}

pokemon-details {
    margin: 0;
    padding: 1rem;
    overflow: auto;
}