<h2>List of Pokémons</h2>
<ng-container *ngIf="(pokemons$ | async) as pokemons">
    <ul>
        <li *ngFor="let pokemon of pokemons">
            {{ pokemon.name }}
        </li>
    </ul>
    <div style="display: flex; justify-content: center;">
        <button [disabled]="firstPage" (click)="goToFirstPage()">First</button>
        <button [disabled]="firstPage" (click)="goToPreviousPage()">Prev</button>
        <p>{{(pagination.offset/pagination.limit)+1}}/{{(count/pagination.limit) | ceil}}</p>
        <button [disabled]="lastPage" (click)="goToNextPage()">Next</button>
        <button [disabled]="lastPage" (click)="goToLastPage()">Last</button>
    </div>
</ng-container>