<h2>List of Pokémons</h2>
<searchbar class="row" />
<div *ngIf="pokemons$ | async as pokemons" class="row flex content">
    <div class="column list">
        <ul class="flex">
            <li *ngFor="let pokemon of pokemons">
                <button (click)="onSelected(pokemon)" [ngClass]="{'active': pokemon.name === selectedPokemonName()}">
                    {{ pokemon.name }}
                </button>
            </li>
        </ul>
        <div class="row pagination">
            <button [disabled]="firstPage" (click)="goToFirstPage()">First</button>
            <button [disabled]="firstPage" (click)="goToPreviousPage()">Prev</button>
            <span>{{ (pagination.offset / pagination.limit) + 1 }} / {{ (count / pagination.limit) | ceil }}</span>
            <button [disabled]="lastPage" (click)="goToNextPage()">Next</button>
            <button [disabled]="lastPage" (click)="goToLastPage()">Last</button>
        </div>
    </div>
    <pokemon-details *ngIf="selectedPokemonName()" class="flex column" />
</div>