h1 {
    margin: 0;
    padding: 16px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.daytime-bg {
    background-image: url('../assets/images/pokemon-banner-pixel.gif');
}

.nighttime-bg {
    background-image: url('../assets/images/pokemon-background-evening.jpg');
}

footer {
    color: gray;
    background-color: whitesmoke;
    text-align: center;
    font-size: 0.8rem;
    font-variant: small-caps;
    padding: 16px 0;
}