// Elements in Pokemon details
h3 {
    align-self: center;

    span {
        padding: 0 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

h4 {
    text-decoration: underline;
    padding-right: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: 1.5rem;
    padding: 0 1px;
}

sprites-carousel {
    background-color: whitesmoke;
}